{% extends 'home/squelette.html.twig' %}

{% block title %}
	Changer mon profil
{% endblock %}

{% block main %}

	<section class='edit_recruteur'>
		<h1>Editer mon profil</h1>

		<section class='edit_profile_form'>

			{{ include('crud_recruteur/_form.html.twig', {'button_label': 'Update'}) }}

			{{ include('crud_recruteur/_delete_form.html.twig') }}

		</section>

		<a href="{{ path('crud_recruteur_index') }}">Retour à la liste</a>

	</section>
{% endblock %}


