{% extends 'home/squelette.html.twig' %}

{% block title %}
    Changer mon profil
{% endblock %}

{% block main %}
	<h1>Editer</h1>

	{{ include('crud_recruteur/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('crud_recruteur_index') }}">back to list</a>

	{{ include('crud_recruteur/_delete_form.html.twig') }}
{% endblock %}

