{% extends 'home/squelette.html.twig' %}

{% block main %}

<div class="register_container ">
<div class="candidat hearbeat">
    <a href="{{ path('app_register') }}">Je suis candidat</a> 
</div>


<div class="recruteur">
     <a href="{{path('app_register_recruteur')}}">Je suis recruter</a>
</div>

</div>












{% endblock %}