<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="main.css">
		<title>
			{% block title %}Equaly
			{% endblock %}
		</title>
	</head>

	<body>
		{% block body %}
			<header>
				<div class="header_nav">
					<h4>EQUALY</h4>

					<nav>
						<a href="#">Espace Candidat</a>
						<a href="#">Espace Candidat</a>
					</nav>
				</div>

				<div class="header_main">
					<h1>Ici votre handicap est une FORCE</h1>
					<a href="decouvrez.html">Découvrez nos offres
					</a>
				</div>
			</header>

			{{ form_start(formulaire) }}
			{{ form_rest(formulaire) }}
			<button>Valider</button>
			{{ form_end(formulaire) }}

		{% endblock %}
	</body>

</html>
