{% extends 'home/squelette.html.twig' %}

{% block main %} 
<div class="container_search_bar">

{# <h1>Nos offres</h1> #}
<div class="search_img">
  <img src="./imgs/happy.svg" alt="fille">
</div>
<div class="element">Votre JOB en un mot clé: <br>
<span id="typed"></span> 
</div>


</div>



    <div id="search-bar">
    
</div>

  

{% endblock %}
