{% extends 'home/squelette.html.twig' %}

{% block main %} 
<div class="container_search_bar">
</div>
    <div id="search-bar"> Hello</div>


	{# {% for job in jobs %}
	<ul>
		<li>
			<p>{{ job.name }}</p>
			<p>{{ job.description }}</p>
		</li>
	</ul>
	{% endfor %} #}



{% endblock %}