
{% extends 'home/squelette.html.twig' %}


{% block title %}Reset your password{% endblock %}

{% block main %}

<section class="reset_password">

    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}

        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un
                lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn_reset btn-primary">Réinitialiser</button>
    {{ form_end(requestForm) }}


    </section>
{% endblock %}