{% extends 'home/squelette.html.twig' %}


{% block title %}Modifier mon profil
{% endblock %}

{% block main %}
	<section class="edit_candidat">
		<h1>Editer mon profil</h1>

		<section class="edit_profile_form">


			{{ include('crud_candidat/_form.html.twig', {'button_label': 'Update'}) }}


			{{ include('crud_candidat/_delete_form.html.twig') }}


		</section>

		<a class="link" href="{{ path('crud_candidat_index') }}">Retour à la liste</a>

	</section>
{% endblock %}

