* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    font-size: 41px;
    width: 25%;
    margin-left: 9rem;
}

body {
    background: #F9F6F6;
    width: 1366px;
    margin: auto;
    color: #5B5771;

    
}
/*******HEADER*************/
.social {
    display: flex;
    flex-direction: column;
    width: 24px;
   position: fixed;
   left: 4rem;
   bottom: 6rem;
   
}
.social img{
    margin-bottom: 10px;
}
.force{
    position: absolute;
    bottom: 15rem;
    left: 34rem;
    width: 20rem;
}
.icons {
    display: flex;
    align-items: center;
    border: 1px solid #FFD115;
    border-radius: 40px; 
}
.icons:hover{
    border-bottom: 2px solid white;
}
.icons i {
    padding-left: 1rem;
    
}
.icons i:last-child{
    padding-right: 1rem;
}
.input_search_nav {
    border-radius: 20px;
    margin: 0;
    border: 0;
    padding: .3rem;
}
.header_nav {
    display: flex;
    justify-content: space-around;
    background-color: #5B5771;
    padding: 2rem 3rem;
    color: white;
}
.header_nav h4 a {
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
   
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav a:nth-child(3) {
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 40px;
}
.nav a:nth-child(3):hover{
    background-color: rgb(255, 255, 255);
    color: #5B5771 ;
}
.nav a:last-child {
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 40px;
    background-color: white;
    color: #5B5771;
}
.nav a:last-child:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white ;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 1rem;
    border-radius: 20px;
}


/*******MAIN*******/


.header_main {
    padding: 8rem 12rem;
    display: flex;
    justify-content: space-between;
    position: relative;

}
.main_img img{ 
    width: 25rem;
    height: auto;
}
.header_main h1 {
    font-size: 57px;
    padding-bottom: 2rem;
    line-height: 1.4;
    color: #5B5771;
    margin-bottom: 1rem;
    color: #5B5771;
    line-height: 1.4; 
    position: relative; 
}
.header_main .title {
    width: 50%;
}

.header_main h1::after{
    width: 13rem;
    height: 3rem;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    left: 10rem;
    bottom: 13rem;
    z-index: -10;
}
.line-through {
    text-decoration: line-through;
}
.title_span{
    color: black;
}

.main_btn {
    background-color: #FFD115;
    padding: 1rem 4rem;
    /* width: 44% !important; */
    font-size: 22px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
}

/* NOTRE CONCEPT  */
.section {
    margin-top: 4rem;
    padding: 2rem 10rem;
}
.section h3 {
    margin-left: 0;
}
.articles {
    display: flex;
    justify-content: space-between;
}
.articles article {
    padding: 1rem 1.5rem;
    text-align: justify;
}
.articles article img {
    width: 16rem;
    height: auto;
    margin: 2rem;
    margin-bottom: 3rem;
}
.articles article p {
    text-align: justify;
    line-height: 1.3;
}

/* STARTUPS  */
.startups p  {
text-align: center;
font-size: 28px;
font-weight: bold;
margin-top: 3rem;
margin-bottom: 3rem;
position: relative;
}
.startups p::before{
    width: 13rem;
    height: 2rem;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    left: 30rem;
    /* bottom: 2rem; */
    z-index: -10;
  
}
.startup_logo {
    margin: auto;
    text-align: center;
}
.startup_logo img {
    padding: 0 2rem;
    opacity: .3;
    width: 150px;
    height: auto;

}
/* BLOG */
.blog_section{
    margin-top: 6rem;
}
.articles_blog {
    display: flex;
    width: 80%;
    margin: auto;
}
.img_articles_blog_first img{

    width: 50rem;
}
.articles_blog_aside{
    width: 30%;
    display: flex; 
    flex-direction: column;
   
}
.articles_blog_aside p {
    padding-bottom: 10px;
    font-weight: bold;
    position: relative;
}
.articles_blog_aside p:first-child::before{
   
    width: 11rem;
    height: 10px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    
    /* bottom: 2rem; */
    z-index: -10;
}
.articles_blog_aside p:first-child:hover::before{
    height: 30px;
}
.articles_blog_aside div {
    margin-bottom: 1rem;
}
.a{
    display: flex;
    flex-direction: row;
}
.articles_blog_imgs{
    display: flex;
    justify-content: space-between;
}
.articles_blog_imgs img {
    width: 15rem;
    
}
.blog_btn {
    padding: .8rem 19.3rem;
    font-size: 15px;
    margin-top: 1rem;
    background-color: #FFD115;
    border: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    width: 100%;
}
.blog_span{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.fig {
    color: gray;
    font-style: italic;
}

/* ETAPES  */
.etapes_section{
    margin-top: 3rem;
    width: 80%;
    margin: auto;
}
.etapes_title h3{
    width: 100%;
    margin-top: 10rem;
    margin-left: 0;
}
.etapes_articles{
    display: flex;
}
.number {
    width: 20%;
}
.contact_img img{
    width: 31rem;
    height: 27rem;
    padding: 1rem;
    margin-left: 2rem;
}
.etapes_text article h5{
    font-size: 24px;
    padding: 2rem 0 1rem 0;
    margin-top: 2rem;
}
.number p {
    font-size: 46px;
    font-weight: 800;
    margin-top: 4rem;
    margin-bottom: 5.5rem;
    margin-left: 9rem;
    border-bottom: 2px solid #FFD115;
    margin-right: 3rem;
    
}
.number p:hover{
    margin-right: 1rem;
}

/******************PAGE REGISTER********************/
.register_container{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.candidat, .recruteur{
    width: 40%;
    height: 12rem;
    background-color: #FFD115;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
}
.candidat a, .recruteur a{
    text-decoration: none;
    color: white;
  
}
.before {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    position: relative;
}
.before h4{
    font-size: 20px;
}
.before h2{
    font-size: 52px;
    margin-top: 6px;
}
.before h2::before{
    width: 9rem;
    height: 16px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    top: 6rem;
    left: 10rem;
    z-index: -10;
}
.box {
    display: flex;
    justify-content: space-between;
    width: 77%;
    align-items: center;
    margin: auto;
} 
.slide-top:hover {
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  


/******FOOTER*****/
.container_footer {
    margin-top: 6rem;
    background-color: #5B5771;
    color: white;
    padding-top: 2rem;
   
}
.newsletter{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin:auto;
}
.newsletter h4{
    font-size: 20px;
    font-weight: 300;
   
}
.newsletter input {
    border-radius: 25px;
    width: 43%;
    border: none;
    box-shadow: inset 2px 5px 8px 0px rgb(0 0 0 / 32%);
}
.newsletter input::placeholder {
    padding-left: 1rem;
}
.newsletter button {
    border: 1px white solid;
    border-radius: 20px;
    padding: 0.5rem;
}
.footer_text{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.footer_text div{
    width: calc(100% / 3);
    margin: 3rem 3rem ;
}
.footer_text div:first-child, 
.footer_text div:nth-child(2) {
    border-right: 2px solid #FFD115;
}
.footer_text div p {
    margin-bottom: 10px;
}
.copyright p {
  width: 20%;
  margin: auto;
  padding: 1rem
}

/******************FORM CREATE CANDIDATE & RECRUTEUR**********/

.form_create_candidat, .form_create_recruteur{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
    position: relative;
}
.form_create_candidat h1, .form_create_recruteur h1{ 
    margin-bottom: 2rem !important;
    width: 41%;
    margin: auto;
    font-size: 30px;
    position: relative;
    z-index: 100;
}
.form_create_candidat h1::before,
.form_create_recruteur h1::before{
    width: 13rem;
    height: 21px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    z-index: -1;
    top: 1rem;
}
.form_create_candidat div, 
.form_create_recruteur div {
    margin-bottom: 1rem;
}
.form_create_candidat div input {
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
}
.form_create_candidat div label, 
.form_create_recruteur div label {
    margin-left: 3rem;
    font-weight: bolder;
}
.c1 input{
    margin-left: 4rem;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}

#registration_recruter_form_name{
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 2rem;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
  
}
.c2 input{
    margin-left: 42px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
#registration_recruter_form_email{
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 63px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
.c3 input{
    margin-left: 56px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
#registration_recruter_form_plainPassword{
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 15px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
.c4 input{
    margin-left: 10px;
    width: 47% !important;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
#registration_recruter_form_agreeTerms { margin-left: 2rem;
 
}


#registration_form_agreeTerms{
   margin-left: -150px;

}
.form_create_candidat div input:nth-child(3){
    padding-left: 3rem;
}
.form_create_candidat .btn, 
.form_create_recruteur .btn {
    background-color: #FFD115;
    padding: 1rem 4rem;
    /* width: 44% !important; */
    font-size: 22px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    border: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}



