* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    font-size: 41px;
    width: 30%;
    margin-left: 9rem;
}

body {
    background: #F9F6F6;
    /* width: 1366px; */
    margin: auto;
    color: #5B5771;  
    font-family: 'Raleway', sans-serif;
}
input, a, button {
    outline: 0;
}
/*******HEADER*************/
.social {
    display: flex;
    flex-direction: column;
    width: 24px;
   position: fixed;
   left: 4rem;
   bottom: 6rem;
   
}
.social img{
    margin-bottom: 20px;
}

.force{
    position: absolute;
    bottom: 15rem;
    left: 34rem !important;
    width: 20rem;
    position: absolute;
    bottom: 15rem;
    left: 31rem;
    width: 16rem;
    right: 80px;
   
}
.icons {
    display: flex;
    align-items: center;
    border: 1px solid #FFD115;
    border-radius: 40px; 
}
.icons:hover{
    border-bottom: 2px solid white;
}
.icons i {
    padding-left: 1rem;
    
}
.icons i:last-child{
    padding-right: 1rem;
}
.input_search_nav {
    border-radius: 20px;
    margin: 0;
    border: 0;
    padding: .3rem;
}
.header_nav {
    display: flex;
    justify-content: space-around;
    background-color: #5B5771;
    padding: 2rem 3rem;
    color: white;
}
.header_nav h4 a {
    color: white;
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-weight: 400;
    
   
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav a:nth-child(3) {
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 40px;
}
.nav a:nth-child(3):hover{
    background-color: rgb(255, 255, 255);
    color: #5B5771 ;
}
.nav a:last-child {
    border: 1px solid white;
    padding: 1rem 2rem;
    border-radius: 40px;
    background-color: white;
    color: #5B5771;
}
.nav a:last-child:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white ;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 1rem;
    border-radius: 20px;
}


/*******MAIN*******/


.header_main {
    padding: 8rem 12rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 8rem;

}
.main_img img{ 
    width: 25rem;
    height: auto;
}
.header_main h1 {
    font-size: 52px;
    padding-bottom: 2rem;
    line-height: 1.4;
    color: #5B5771;
    margin-bottom: 3rem;
    color: #5B5771;
    line-height: 1.4; 
    position: relative; 
    transition: all 1s ease-out;
    font-weight: 700;
    
   
}
.header_main .title {
    width: 50%;
}

.header_main h1::after{
    width: 13rem;
    height: 3rem;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    left: 10rem;
    bottom: 13rem;
    z-index: -10;
}
.line-through {
    /* position: relative; */
}
.line-through::before{
    width: 14rem;
    height: 2px;
    display: block;
    content: '';
    background-color: #000000;
    position: absolute;
    bottom: 66px;
    left: 5rem;
   
}
.title_span{

    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: black;
    font-size: 5rem;
}

.main_btn {
    background-color: #FFD115;
    padding: 1rem 4rem;
    /* width: 44% !important; */
    font-size: 22px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
}

/* NOTRE CONCEPT  */
.section {
  
    padding: 2rem 10rem;
}
.section h3 {
    margin-left: 0;
}
.articles {
    display: flex;
    justify-content: space-between;
    position: relative; 
    opacity: 0;
    transition: all 1s ease-out;
}
.articles article {
    padding: 1rem 1.5rem;
    text-align: justify;
   
}
.articles article img {
    width: 16rem;
    height: auto;
    margin: 2rem;
    margin-bottom: 3rem;
}
.articles article p {
    text-align: justify;
    line-height: 1.3;
}

/* STARTUPS  */

.startups p  {
text-align: center;
font-size: 28px;
font-weight: bold;
margin-top: 3rem;
margin-bottom: 3rem;
position: relative;
}
.startups p::before{
    width: 13rem;
    height: 2rem;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    left: 30rem;
    /* bottom: 2rem; */
    z-index: -10;
  
}
.startup_logo {
    margin: auto;
    text-align: center;
    width: 1366px;
    opacity: 0;
}
.startup_logo img {
    padding: 0 2rem;
    opacity: .3;
    width: 150px;
    height: auto;
}
/* BLOG */
.blog_section{
    margin-top: 13rem;
  
}
.articles_blog {
    display: flex;
    width: 80%;
    margin: auto;
}
.img_articles_blog_first img{
    width: 50rem;
    position: relative;
    z-index: -1000;
}
.articles_blog_aside{
    width: 30%;
    display: flex; 
    flex-direction: column;
}
.articles_blog_imgs article p,
.img_articles_blog_first p {
    font-weight: bolder;
    margin-bottom: 1rem;
}
.img_articles_blog_first p {
    margin-bottom: 2rem;
    position: absolute;
    top: 133rem;
    left: 11rem;
    color: white;
  
}
.articles_blog_aside p {
    padding-bottom: 10px;
    font-weight: bold;
    position: relative;
}
.articles_blog_aside p:first-child::before{
   
    width: 11rem;
    height: 10px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    
    /* bottom: 2rem; */
    z-index: -10;
}
.articles_blog_aside p:first-child:hover::before{
    height: 30px;
}
.articles_blog_aside div {
    margin-bottom: 1rem;
}
.a{
    display: flex;
    flex-direction: row;
}
.articles_blog_imgs{
    display: flex;
    justify-content: space-between;
}
.articles_blog_imgs img {
    width: 15rem;
    
}
.blog_btn {
    padding: .8rem 19.3rem;
    font-size: 15px;
    margin-top: 1rem;
    background-color: #FFD115;
    border: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    width: 100%;
}
.blog_btn a {
    text-decoration: none;
    color: #5B5771;
}
.blog_span{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.fig {
    color: gray;
    font-style: italic;
}

/* ETAPES  */
.etapes_section{
    margin-top: 3rem;
    width: 80%;
    margin: auto;
}
.etapes_title h3{
    width: 100%;
    margin-top: 10rem;
    margin-left: 0;
}
.etapes_articles{
    display: flex;
}
.number {
    width: 20%;
}
.contact_img img{
    width: 31rem;
    height: 27rem;
    padding: 1rem;
    margin-left: 2rem;
}
.etapes_text article h5{
    font-size: 24px;
    padding: 2rem 0 1rem 0;
    margin-top: 2rem;
}
.number p {
    font-size: 46px;
    font-weight: 800;
    margin-top: 4rem;
    margin-bottom: 5.5rem;
    margin-left: 9rem;
    border-bottom: 2px solid #FFD115;
    margin-right: 3rem;
    
}
.number p:hover{
    margin-right: 1rem;
}

/******************PAGE REGISTER********************/
.register_container{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.candidat, .recruteur{
    width: 40%;
    height: 12rem;
    background-color: #FFD115;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    font-size: 30px;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
}
.candidat a, .recruteur a{
    text-decoration: none;
    color: white;
  
}
.before {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    position: relative;
}
.before h4{
    font-size: 20px;
}
.before h2{
    font-size: 52px;
    margin-top: 6px;
}
.before h2::before{
    width: 9rem;
    height: 16px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    top: 6rem;
    left: 10rem;
    z-index: -10;
}
.box {
    display: flex;
    justify-content: space-between;
    width: 77%;
    align-items: center;
    margin: auto;
} 
.slide-top:hover {
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  


/******FOOTER*****/
.container_footer {
    margin-top: 6rem;
    background-color: #5B5771;
    color: white;
    padding-top: 2rem;
   
}
.newsletter{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin:auto;
}
.newsletter h4{
    font-size: 20px;
    font-weight: 300;
   
}
.newsletter input {
    border-radius: 25px;
    width: 43%;
    border: none;
    box-shadow: inset 2px 5px 8px 0px rgb(0 0 0 / 32%);
}
.newsletter input::placeholder {
    padding-left: 1rem;
}
.newsletter button {
    border: 1px white solid;
    border-radius: 20px;
    padding: 0.5rem;
}
.footer_text{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.footer_text div{
    width: calc(100% / 3);
    margin: 3rem 3rem ;
}
.footer_text div:first-child, 
.footer_text div:nth-child(2) {
    border-right: 2px solid #FFD115;
}
.footer_text div p {
    margin-bottom: 10px;
}
.copyright p {
  width: 20%;
  margin: auto;
  padding: 1rem
}

/******************FORM CREATE CANDIDATE & RECRUTEUR**********/

input#registration_form_plainPassword{
    margin-left: 40px;
}


.form_create_candidat, .form_create_recruteur{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
    position: relative;
}
#registration_form_email{
    margin-left: 61px !important;
}
#registration_recruter_form_email{
    margin-left: 69px !important;
}
#registration_recruter_form_plainPassword{
    margin-left: 10px !important;

}
.form_create_candidat h1, .form_create_recruteur h1{ 
    margin-bottom: 2rem !important;
    width: 41%;
    margin: auto;
    font-size: 30px;
    position: relative;
    z-index: 100;
}
.form_create_candidat h1::before,
.form_create_recruteur h1::before{
    width: 13rem;
    height: 21px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    z-index: -1;
    top: 1rem;
}
.form_create_candidat div, 
.form_create_recruteur div {
    margin-bottom: 1rem;
}
.form_create_candidat div input {
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
}
.form_create_candidat div label, 
.form_create_recruteur div label {
    margin-left: 3rem;
    font-weight: bolder;
}
.c1 input{
    margin-left: 4rem;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}

#registration_recruter_form_name{
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 2rem;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
  
}
.c2 input{
    margin-left: 42px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
#registration_recruter_form_email{
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 63px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
.c3 input{
    margin-left: 56px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
#registration_recruter_form_plainPassword{
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 15px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
.c4 input{
    margin-left: 10px;
    width: 47% !important;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
}
#registration_recruter_form_agreeTerms { margin-left: 2rem;
 
}


#registration_form_agreeTerms{
   margin-left: -150px;

}
.form_create_candidat div input:nth-child(3){
    padding-left: 3rem;
}
.form_create_candidat .btn, 
.form_create_recruteur .btn {
    background-color: #FFD115;
    padding: 1rem 4rem;
    /* width: 44% !important; */
    font-size: 22px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    border: none;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/******PAGE BLOGS*******/
.r{
    width: 90%;
    margin: auto;
   
    
}
.display{
    display: grid;
    grid-template-columns: 23rem 23rem 23rem;
    grid-template-rows: 28rem 28rem 28rem;
 
}
.blog_article{
    width: 100%;
    margin-left: 1rem;
    margin-left: 4rem !important;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;  
}
.blog_article:last-child{
    border-right: none;
}
.blog_article img {
    width: 100%; 
}
.blog_article h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.blog_bar h1::before{
    width: 12rem;
    height: 25px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    top: 14.5rem;
    left: 41rem;
    z-index: -9;
    
}
.blog_bar{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 4rem;
}
.blog_bar input{
    width: 50%;
    margin: auto;
    margin: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
}

/************OFFRES PAGE************/
/* .container_search_bar{
   width: 60%;
   margin: auto;
   margin-top: 3rem;
  */
  .container_search_bar{
      width: 95%;
      margin: auto;
      margin-top: 0;
      padding-top: 2rem;
   
  }
 
  .container_search_bar h1 {

    width: 20%;
    margin: auto;
    font-size: 49px;
    text-align: center;
    margin-top: 6rem;
   
  }

.container_search_bar input{
    width: 60%;
    padding: 2rem;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-left: 17rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    outline: 0;

}
.jobs{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.card{
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    background-color: #FFD115;
    height: auto;
    padding: 2rem;
    margin: 1rem;
}
.card-title{
    font-size: 25px;
}
.card-text{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
     
    
}
.card-body a {
    color: black;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
}


/******************FORM LOGIN CANDIDATE & RECRUTEUR**********/
.form_login {
    width: 40%;
    background-color: white;
    margin: auto;
    margin-top: 8%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
    position: relative;
}

.form_login h1{ 
    margin-bottom: 2rem !important;
    width: 41%;
    margin: auto;
    font-size: 30px;
    position: relative;
    z-index: 100;
    margin-top: 2rem;
}
.form_login h1::before{
    width: 10rem;
    height: 20px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    z-index: -1;
    top: 1rem;
    right: 1rem;
}
.form_login div{
    margin-bottom: 1rem;
}
.form_login div input {
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
}
.form_login div label {
    margin-left: 3rem;
    font-weight: bolder;
}
#inputEmail, #inputPassword{ 
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    margin-left: 15px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
}
#inputEmail{
    margin-left: 74px;
}
.form_login .btn1, 
.form_login .btn2 {
    background-color: #FFD115;
    padding: 1rem 3rem;
    font-size: 16px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    border: none;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.btns {
    width: 100%;
    margin: auto;
}
.btn2 a {
    text-decoration: none;
    color: #5B5771;
}



/******************RESET CANDIDATE & RECRUTEUR**********/
.reset_password {
    width: 40%;
    background-color: white;
    margin: auto;
    margin-top: 8%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
    position: relative;
}
.reset_password  h1{ 
    width: 93%;
    margin: auto;
    font-size: 30px;
    position: relative;
    z-index: 100;
    margin-bottom: 2rem;
    text-align: center;
}
.reset_password  h1::before{
    width: 10rem;
    height: 20px;
    display: block;
    content: '';
    position: absolute;
    background-color: #FFD115;
    z-index: -1;
    top: 1rem;
    right: 4rem;
    margin-bottom: 2rem;
}
.reset_password  div{
    margin-bottom: 1rem;
}
#reset_password_request_form_email {
    border-radius: 3px;
    border: none;
    width: 60%;
    padding: 8px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-left: 1rem;


}
.required {
    margin-left: 3rem;
    font-weight: bolder;
}

.btn_reset {
    background-color: #FFD115;
    padding: 1rem 3rem;
    font-size: 16px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    border: none;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/************POSTULER************/
.send {
    
}
.modal-content{
    
    width: 60%;
    margin: auto;
}
.modal-header{
  
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    padding-bottom: 5rem;
    margin-bottom: 1rem;

}
.modal-header h5 {
    font-size: 44px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.modal-header img {
    width: 30px;
}
.btn_job{
    border: none;
    background-color: #FFD115;
    margin-left: 14rem;
    margin-top: 4rem;
}
.modal-body p {
    margin-top: 2rem;
    padding: 3rem;
    text-align: justify;
}
.btn_send{
    background-color:#FFD115;
    border: 1px solid grey;
    padding: 2rem;
    border-radius: 11px;
    color: white;
}
.btn_send_container{
    background-color: tomato;
    width: 14%;
    margin: auto;
    margin-top: 1rem;
}
.btn_send_container a {
    text-decoration: none;
    color: #5B5771;
}

/*******JS**********/
.logo_animation {
    transition: 2s ease all;
    opacity: 1;
    left: 10%;
    position: absolute;
    animation: animation 40s linear infinite backwards;
    margin-bottom: 3rem;
}

@keyframes animation {
    from {
        transform: translateX(-1200px);
    }
    to {
        transform: translateX(1000px);
    }
  }

.activee {
    transform: translateX(-30px);
    transition: 1s;
   
   
    /* transition: opacity .15s ease-in-out; */
}
.activeConcept {
    opacity: 1;
    transform: translateY(20px);
    transition: 1s;
    opacity: 1;
    /* transition: opacity .15s ease-in-out; */
}
.element{
  
    width: 70%;
    margin: auto;
    padding: 4rem 4rem 2rem 4rem;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#typed{
    background-color: #FFD115 ;
}
.search_img {
    width: 40%;
    margin-left: 7rem;
    position: absolute;
    z-index: -100;
    opacity: 0.5;
}
.search_elements{
    display: flex;
   
}

/********ESPACE CANDIDAT*****/
.espace_candidat{
  
}
.espace_candidat h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 35px;
}
.espace_candidat_liens{
    text-align: center;
    margin-top: 3rem;
}
.espace_candidat_liens a {
    background-color: #FFD115;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-right: 1rem;
}
.candidat_body {
 background-color: white;
 color: #5B5771;

}
.candidat_body td {
    padding: 1rem;
}
.table {
    background-color: #5B5771;
    margin-top: 6rem !important;
    color: white;
    width: 95%;
    margin: auto;
}
.candidat_tr th{
    padding: 1rem;
}

/*********EDIT CANDIDAT*************************/
.edit_candidat{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
}
.edit_candidat h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.edit_profile_form{
    padding: 1rem;
    
}
#candidat_profil_lastName{
    margin-left: 97px !important;
}
#candidat_profil_firstName{
    margin-left: 75px !important;
}
.required{
    font-weight: bold;
}
.edit_profile_form label {
    font-weight: bold;
}
.edit_profile_form input,
.edit_profile_form textarea {
    width: 60%;
    margin: auto;
    border: none;
    padding: .5rem;
    margin: .5rem;
    margin-left: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    
}
.edit_profile_form textarea {
    height: 15rem;
    vertical-align: middle;
    width: 60%;
    margin-left: 20px !important;
}
#candidat_profil_documents_0_pieceJointeFile_file, 
#candidat_profil_documents_0_pieceJointeFile_delete,
#candidat_profil_documents_1_pieceJointeFile_file, 
#candidat_profil_documents_2_pieceJointeFile_file, 
#candidat_profil_documents_0_pieceJointeFile_file
{
    box-shadow: none;
}
.vich-image input #file-upload-button{
    border: none;
}
#candidat_profil_education{
    margin-left: 57px !important;
}

.label_candidat{
    margin-left: 3rem;
}
.label_experience{
    margin-left: 3rem;
}
#candidat_profil_descriptionCandidat{
    margin-left: 20px !important;
}
#candidat_profil_experience{
    margin-left: 48px !important;
}
.edit_candidat .btn,
.edit_candidat a {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;

}
.link{
    text-decoration: none;
}

.center_documents{
   
    width: 50%;
    margin: auto;
    padding: 1rem;
    margin-top: 3rem;
}

/********ESPACE RECRUTEUR*****/

.espace_recruteur{
  
}
.espace_recruteur h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 35px;
}
.espace_recruteur_liens{
    text-align: center;
    margin-top: 3rem;
}
.espace_recruteur_liens a {
    background-color: #FFD115;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-right: 1rem;
}
.recruteur_body {
 background-color: white;
 color: #5B5771;

}
.recruteur_body td {
    padding: 1rem;
}
.table {
    background-color: #5B5771;
    margin-top: 6rem !important;
    color: white;
    width: 95%;
    margin: auto;
}
.recruteur_tr th{
    padding: 1rem;
}

/*********EDIT RECRUTEUR*************************/

.edit_recruteur{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
}
.edit_recruteur h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.edit_profile_form{
    padding: 1rem;
    
}
.required{
    font-weight: bold;
}
.edit_profile_form label {
    font-weight: bold;
    margin-left: 10px !important;
}
.edit_profile_form input,
.edit_profile_form textarea {
    width: 60%;
    margin: auto;
    border: none;
    padding: .5rem;
    margin: .5rem;
    margin-left: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    
}
#recruteur1_email{
    margin-left: 145px !important;
}
.edit_profile_form textarea {
    height: 2rem;
    vertical-align: middle;
    width:58%;
    margin-left: 102px !important;
}

#recruteur_profil_education{
    margin-left: 49px;
}
.label_recruteur{
    margin-left: 3rem;
}
.label_name{
    margin-left: 4rem;
}
.label_description{
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.label_email{
    margin-left: 4rem;
}
#recruteur_profil_descriptionrecruteur{
    margin-left: 25px;
}
#recruteur_profil_experience{
    margin-left: 43px;
}
.edit_recruteur a {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
}
.edit_recruteur .btn{
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
    margin-top: 2rem;
    margin-left: 3rem;
}
.link{
    text-decoration: none;
}
.path_home{
   padding: 1rem 0 0 6rem; 
   
}
.path_home a {
    text-decoration: none;
    font-weight: bolder;
   
}
.path_home img {
    vertical-align: middle;
    margin-right: .5rem;

}
.favoris {
  
    width: 40%;
    margin:auto;
    padding: 5rem;
}
.postuler{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin:auto;
    padding: 5rem;
}
.postuler img {
    width: 5rem;
}
.postuler p {
    margin-bottom: 2rem;
}
.postuler a {
    background-color: #FFD115;
    padding: 1rem 4rem;
    /* width: 44% !important; */
    font-size: 22px;
}
/********ESPACE offres*****/
.espace_offres{
  
}
.espace_offres h1{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 35px;
}
.espace_offres_liens{
    text-align: center;
    margin-top: 3rem;
}
.espace_offres_liens a {
    background-color: #FFD115;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
}
/****************PAGE FAVORIS**********************/
.container h1 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin:auto;
    padding: 5rem;
}
.delete{
    font-size: 16px;
    text-decoration: none;
    color: #5B5771;
    border-radius: 7px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-right: 1rem;
}
.offres_body {
 background-color: white;
 color: #5B5771;

}
.offres_body td {
    padding: 1rem;
}
.table {
    background-color: #5B5771;
    margin-top: 6rem !important;
    color: white;
    width: 95%;
    margin: auto;
}
.offres_tr th{
    padding: 1rem;
}

/*********EDIT offres*************************/
/* #job1_jobStartDate_time{
    display: none;
} */
div#job1{
    vertical-align: middle;
}

#job1_description{
    width: 60%;
}


.edit_offres{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
}
.edit_offres h1 {
    text-align: center;
    margin-bottom: 2rem;
}
.edit_profile_form{
    padding: 1rem;
    
}
.required{
    font-weight: bold;
}
.edit_profile_form label {
    font-weight: bold;
}
.edit_profile_form input,
.edit_profile_form textarea {
    width: 60%;
    margin: auto;
    border: none;
    padding: .5rem;
    margin: .5rem;
    margin-left: 3rem;
    border-radius: 10px;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    
}
.edit_profile_form textarea {
    height: 15rem;
    vertical-align: middle;
    width:60%;
    margin-left: 2rem;
}

#offres_profil_education{
    margin-left: 49px;
}
.label_code{
    margin-left: 3rem;
}
.label_name{
    margin-left: 4.5rem;
}
.label_description{
    margin-left: 3rem;
    margin-bottom: 1rem;
}
.label_jobStartDate{
    margin-left: 3rem;
}
.label_city{
    margin-left: 3rem;
}
.label_TypeContrat{
    margin-left: 3rem;
    margin-bottom: 1rem;
}
#offres_profil_TypeContrat{
    margin-left: 43px;
}
.edit_offres a {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
}
.edit_offres .btn{
    border: none;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: .5rem;
    margin-top: 2rem;
    margin-left: 3rem;
}
.link{
    text-decoration: none;
}

input#job1_name{
    margin-left:3.5rem;
}
#job1_description{
    margin-left: 24px !important;
}
input#job1_city{
    
    margin-left: 128px;

}
input#job1_TypeContrat{
    margin-left: 42px;
}
#job1_jobStartDate_date{
    margin-left:4rem;
}
.one {
    position: relative;
    top: -4rem;
}
.create_new_job{
    width: 50%;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:  2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-bottom: 2rem;
    position: relative;
}
.create_new_job h1{
    margin-bottom: 2rem !important;
    width: 41%;
    margin: auto;
    font-size: 30px;
    position: relative;
    z-index: 100;
}
.create_new_job .btn{
    width: 15%;
    height: 3rem;
    background-color: #FFD115;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    font-size: 17px;
    font-weight: bolder;
    border-radius: 9px;
    color: white;
    border: none;
    margin-bottom: 2rem;
}
.create_new_job .label_description{
    margin-top: 1rem;
    position: relative;
    top: -4rem;
}
.input{
    width: 60%;
    padding: 2rem;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-left: 17rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    outline: 0;
}
.create_new_job input, 
.create_new_job textarea {
    width: 60%;
    padding: 1rem;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 32%);
    margin-left: 34px;
    margin-top: 0rem;
    margin-bottom: 2rem;
    outline: 0;
    
}
.create_new_job label{
    vertical-align: middle;
    width: 50%;
    margin-top: 1rem;
    position: relative;

}
.create_new_job label{

    position: relative;
    
}
.create_new_job label {
    margin-left: 2rem;
    font-weight: bolder;
}
#job1_name{ 
    margin-left: 18px !important;
}
#job1_jobStartDate{
    margin-left: 143px !important;
    margin-bottom: 1rem;
    width: 70% !important;
}
#recruteur1_name{
    margin-left: 37px !important;
}

/* 404 */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.banner .content h1 {
    font-size: 4.5em;
    color: #fff;
}

.banner .content p {
    font-size: 1.7em;
    color: #fff;
}

.button {
    background-color: #FFD115;
    ;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}

.header-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: #225470;
    opacity: 0.55;
}
